{% extends 'generic/base.html' %}

{% block content %}

<h2>Привет, {{ request.user.username }}!</h2>

{% if user_data.calendar %}
{% for event in events %}
<h5>{{ event.name }}</h5>
<ul>
    <li>Локация: {{ event.location|default_if_none:"Не указана" }}</li>
    <li>Начало: {{ event.begin }}</li>
    <li>Окончание: {{ event.end }}</li>
</ul>
{% endfor %}

<h2>Список ресторанов: </h2>
<ul>
    {% for restik in restiks %}
        <li>{{ restik }}</li>
    {% endfor %}
</ul>

{% else %}
<h2>Пожалуйста, укажите календарь!</h2>
<form method="post">
    {% csrf_token %}
    <input type="text" name="calendar_url">
    <button type="submit">Сохранить</button>
</form>
{% endif %}

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Log Out</button>
</form>
{% endblock %}
