{% extends 'generic/base.html' %}

{% block title %}Вход в систему{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1 style="text-align: center;">Добро пожаловать, {{ user.username }}!</h1>
<form style="text-align: center;" action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit"> <h3>Выход</h3></button>
</form>
{% else %}
<h2 style="text-align: center;">TIME TO EAT</h2>
<form style="text-align: center;" action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <button type="submit"> <h3>Вход</h3></button>
</form>
<form style="text-align: center;" action="{% url 'signup' %}" method="post">
  {% csrf_token %}
  <button type="submit"> <h3>Регистрация</h3></button>
</form>
{% endif %}
{% endblock %}
